/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--main-font, "Inter-Variable");
  background-color: var(--background-color, #fff);
  background-image: var(
    --background-gradient,
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a)
  );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-font-weight, 400);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  border: 2px solid var(--accent-color, #000);
  color: var(--accent-color);
  font-family: var(--accent-font, "PressStart2P");
  font-weight: var(--text-font-weight, 400);
  text-transform: uppercase;
  background-color: var(--background-color, #fff);
  inline-size: clamp(375px, 16.2852rem + 30.5164vw, 700px);
}

.header__logo {
  padding: clamp(7.5rem, 7.148rem + 1.502vi, 8.5rem) 0 20px 0;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: inherit;
}

.header__heading {
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: inherit;
}

.header__theme-menu {
  margin-block: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: inherit;
  background-color: transparent;
  transition: opacity ease 0.3s;
  cursor: pointer;
  appearance: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  width: 16px;
  height: 13px;
  color: inherit;
  animation: shift ease-in-out 0.5s infinite alternate;
  inset-inline-start: -20px;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  opacity: 0.6;
  background-color: var(--accent-color);
  transition: width ease 0.3s, transform ease 0.3s;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  transform: scaleX(1);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
  color: var(--accent-color);
  font-size: 18px;
  inline-size: clamp(375px, 16.2852rem + 30.5164vw, 700px);
}

.card {
  border: 2px solid currentColor;
  background-color: var(--background-color);
}

.card__title {
  border-block-end: 2px solid currentColor;
  padding: 3px 10px;
  color: inherit;
  font-family: var(--main-font);
  font-size: inherit;
  font-variation-settings: "wght" var(--title-font-weight, 700);
}

.card__picture {
  position: relative;
}

.filter-brightness {
  filter: brightness(70%);
}

.filter-contrast {
  filter: contrast(1.2);
}

.filter-hue {
  filter: hue-rotate(-50deg) invert(0.11);
}

.filter-opacity {
  filter: opacity(0.9);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-blur {
  filter: blur(3px);
}

.filter-invert {
  filter: invert(0.1);
}

.filter-sepia {
  filter: sepia(0.7);
}

.card__picture-watermark {
  position: absolute;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--text-font-weight);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
  inset-inline-end: clamp(13px, 0.5484rem + 1.1268vw, 25px);
  inset-block-start: clamp(25px, 1.5625rem + 0vw, 25px);
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .card__picture-watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

.card__picture-item {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-block-start: 2px solid currentColor;
  padding: 25px;
  line-height: 1.16;
  font-variation-settings: "wght" var(--text-font-weight, 400);
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 4px;
  padding: 0 25px 25px;
}

.button {
  border: none;
  font-family: var(--accent-font);
  font-weight: var(--text-font-weight);
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--background-color);
  cursor: pointer;
  appearance: none;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 12px 37px;
  font-family: var(--accent-font);
  font-weight: var(--text-font-weight);
  font-size: 14px;
  transition: box-shadow ease 0.3s;
  max-inline-size: 130px;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button::before,
.button__save::before,
.button__form-close::before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: transparent;
  transition: transform ease-in-out 0.5s, background-color ease-in-out 0.5s;
  transform: scaleX(0);
  transform-origin: left;
}

.card__like-button:hover::before,
.button__save:hover::before,
.button__form-close:hover::before {
  width: 100%;
  background-color: var(--accent-color);
  transform: scaleX(1);
}

.card__like-button:focus,
.button__save:focus,
.button__form-close:focus {
  outline: none;
}

.card__like-button:focus-visible,
.button__save:focus-visible,
.button__form-close:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.sparcs {
  opacity: 0;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.button__text {
  color: var(--btn-text-color);
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 50px auto clamp(100px, -13.6224rem + 84.7887vw, 103px);
}

.button__save {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--accent-color);
  padding: 15px 20px;
  color: var(--accent-color);
  transition: box-shadow ease 0.3s;
}

.dialog {
  border: 2px solid var(--accent-color);
  padding: 30px clamp(2.625rem, 2.8891rem + -1.1268vw, 1.875rem);
  background-color: var(--background-color);
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

.dialog__form {
  grid-column: 1/3;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog[open] {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 30px 20px;
}

.dialog::backdrop {
  background: rgb(0 0 0 / 0.75);
}

.dialog__text {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--text-font-weight);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.button__form-close {
  position: relative;
  width: 100%;
  min-height: 38px;
  border: 2px solid var(--accent-color);
  padding: 12px 17px;
  color: var(--accent-color);
  text-transform: uppercase;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

.floppy-icon {
  width: 28px;
  height: 28px;
  color: var(--btn-text-color);
  mix-blend-mode: difference;
}

.dialog .floppy-icon {
  align-self: center;
  width: 39px;
  height: 39px;
}

@media (width > 375px) {
  .button__save {
    flex-direction: row;
  }

  .floppy-icon {
    width: 21px;
    height: 21px;
  }
}
