extends ../layouts/default

block variables
  -
    var cardsData = [
      {
      "title": "Фритрек и нулевой спринт: Подготовка к работе", 
      "spanText": "</HTML>", 
      "imgUrlAvif": "/images/image (1).avif", 
      "imgUrlWebp": "/images/image (1).webp",
      "typeFilter": "filter-brightness",
      "imgUrl": "/images/image (1).jpg", 
      "altText": "Красивая картинка",
      "mainText": "Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.",
      "secondText": "Было интересно немножко понять как работает 'закулисье' веб странниц)"
      },
      {
      "title": "1 спринт: Я — чистый лист",
      "spanText": "</HTML>", 
      "imgUrlAvif": "images/image (2).avif",
      "imgUrlWebp": "images/image (2).webp",
      "typeFilter": "filter-contrast",
      "imgUrl": "/images/image (2).jpg", 
      "altText": "Красивая картинка",
      "mainText": "На первых этапах мы работали со страхами и сомнениями, которые часто испытывают новички. Один из них — страх перед чистым листом. Это, конечно же, намного сложнее, чем боязнь куска бумаги. Часто за этим ощущением скрываются более глубокие вопросы: с чего начать? а вдруг будет слишком сложно? что, если я не справлюсь?", 
      "secondText": "После прохождения впитал всю информацию и начал паралельно изучать отдельные моменты более углубленно"
      },
      {
      "title": "1 спринт: А если не получится?",
      "spanText": "<css>",
      "imgUrlAvif": "/images/image (3).avif",
      "imgUrlWebp": "/images/image (3).webp",
      "typeFilter": "filter-sepia",
      "imgUrl": "/images/image (3).jpg", 
      "altText": "Красивая картинка",
      "mainText": "Первый проект — позади! Но это всё ещё самое начало пути. Радость могла быстро померкнуть и смениться ожиданием провала. Или вы, наоборот, могли вдохновиться успехами и поверить в себя.", 
      "secondText": "Теория прошла легко, однако приступив к практике было тяжело. Но в итоге я справился"
      },
      {
      "title": "2 спринт: Погоня за идеалом",
      "spanText": "<desigions>",
      "imgUrlAvif": "/images/image (4).avif",
      "imgUrlWebp": "/images/image (4).webp",
      "typeFilter": "filter-opacity",
      "imgUrl": "/images/image (4).jpg", 
      "altText": "Красивая картинка",
      "mainText": "На этом этапе вы уже достаточно разбирались в основах вёрстки, чтобы понять, как много ещё впереди. Вы могли попытаться погнаться за идеалом и понять, что он недостижим. А, может, вы вовсе и не подвержены перфекционизму и вместо того, чтобы сделать идеально, старались просто сделать.", 
      "secondText": "Был хороший настрой, мотивация и силы"
      },
      {
      "title": "2 спринт: О тех, кто рядом",
      "spanText": "<care>",
      "imgUrlAvif": "/images/image (5).avif",
      "imgUrlWebp": "/images/image (5).webp",
      "typeFilter": "filter-grayscale",
      "imgUrl": "/images/image (5).jpg", 
      "altText": "Красивая картинка",
      "mainText": "Всё это время вы были не одиноки (хотя, возможно, иногда и чувствовали, что одни против целого мира). Вас окружали одногруппники, команда сопровождения и просто близкие люди, которым можно пожаловаться, если очередной макет просто так не поддавался. Осваивать что-то новое легче, когда рядом есть единомышленники, не правда ли?", 
      "secondText": "Было легко и скучно.Однако все не бывает зря и у меня получилось вынести и из этого пользу для себя"
      },
      {
      "title": "3 спринт: Обходные стратегии",
      "spanText": "<support>",
      "imgUrlAvif": "/images/image (6).avif",
      "imgUrlWebp": "/images/image (6).webp",
      "typeFilter": "filter-blur",
      "imgUrl": "/images/image (6).jpg", 
      "altText": "Красивая картинка",
      "mainText": "На этом курсе вы постоянно решали разные задачи. В какой-то момент вам могло показаться, что решения просто иссякли. Значит, пришло время посмотреть на задачу под другим углом.", 
      "secondText": "Начало выпало на отпуск. В отпуске не всегда получалось почитать теорию. Но мне удалось её пройти польностью)"
      },
      {
      "title": "3 спринт: Когда опускаются руки",
      "spanText": "<lifes-style: none;>",
      "imgUrlAvif": "/images/image (7).avif",
      "imgUrlWebp": "/images/image (7).webp",
      "typeFilter": "filter-invert",
      "imgUrl": "/images/image (7).jpg", 
      "altText": "Красивая картинка",
      "mainText": "Во время учёбы часто возникает чувство, когда не знаешь, за что хвататься. Вроде и проектную пора сдавать, и задачи хочется порешать, и в теории получше разобраться, и жизнь не забыть пожить. В такие моменты очень нужна концентрация. Вспомните, откуда вы её черпали.", 
      "secondText": "Было тяжело. Особенно переключиться после отпуска и сразу писать ПР. Только за отпуск удалось допройти всю теорию 'рывками'. В итоге сама ПР была написана всего за пару дней"
      },
      {
      "title": "«Сейчас я здесь»",
      "spanText": "<experience>",
      "imgUrlAvif": "/images/image.avif",
      "imgUrlWebp": "/images/image.webp",
      "typeFilter": "filter-hue",
      "imgUrl": "/images/image.jpg", 
      "altText": "Красивая картинка",
      "mainText": "Сейчас вы уже очень много знаете о вёрстке. Но это только начало. Во-первых, впереди ещё много материала про «красотищу». Во-вторых, с окончанием курса учёба не заканчивается. Вёрстка — это целый мир. И этот мир постоянно меняется. Познать его полностью не получится, но это тот случай, когда важен сам процесс познания. Ведь часто путь — и есть результат.", 
      "secondText": "Очень многое впереди.Иной раз задумываешься хватит ли места вообще в моей голове. Много нюансов и разветлений, так это еще даже не javascript. Страшно, но идем дальше"
      }
    ]
block head
block content
  body.page
    include ../components/header/header
    main.main
      include ../components/card/card
      if cardsData.length > 0
        each card in cardsData
          +card(card.title, card.spanText, card.imgUrlAvif, card.imgUrlWebp, card.typeFilter, card.imgUrl, card.altText, card.mainText, card.secondText)
      else
        p Простите, мне пока нечего вам показать
    block footer
    include ../components/footer/footer
    script(src='./scripts/like.js')

