block variables
block head
doctype html
html(lang="ru")
    head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(name="color-scheme" content="light dark")
      link(rel="icon" href="./images/favicon.ico" sizes="any")
      link(rel="icon" href="./images/favicon.svg" type="image/svg+xml")
      link(rel="apple-touch-icon" href="./images/mobile-icon.png")
      title Закрывающий тег
      link(rel="stylesheet" href="./bundle.css")
      script(src="./scripts/set-theme.js")
    block content
    block footer
      footer.footer
        p Закрывающий тег